* {
  margin: 0px;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  background: #f1f1f1;
}
#root {
  width: 100%;
  height: 100%;
}
/* Our App Container */
.container {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.button-contain{
  margin-top: 250px;
  margin-bottom: auto;
  padding-bottom: 0%;
  margin-left: auto;
  margin-right: auto;
}
/* The header */
.header {
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  color: #f1f1f1;
  background: #3367d6;
  padding: 40px;
  text-align: center;
  font-family: "Chalkduster"
}

/* The add note button */
.btn {
  position: fixed;
  z-index: 1;
  right: 400px;
  bottom: 40px;
  width: 400px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 30px;
  font-weight: bold;
  color: #f1f1f1;
  background: #3367d6;
  cursor: pointer;
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.8);
  transition: transform .06s ease;
}
.btn:hover {
  transform: scale(1.2);
}
.btn-group button{
  position: relative;
  width: 33%;
  bottom: 0;
  height: 100px;
  background-color: #3367d6; /* Green background */
  border: 10px solid #f1f1f1; /* Green border */
  color: #f1f1f1; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-size: 25px;
  font-family: "Chalkduster"
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  transform: scale(1.2);
}
.back-button{
  position: absolute;
  top: 10px;
  left:10px;
  font-size: 25px;
  font-family: "Chalkduster";
  color: #f1f1f1;
  background-color: #3367d6;
  cursor: pointer; /* Pointer/hand icon */
  text-align: center;
  border-width: 5px;
  border-color: #f1f1f1;
}
.back-button:hover { transform: scale(1.1); }
/* Textinput */
.textInput {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  padding: 0 20px;
  border: none;
  outline: none;
  background: #2850a7;
  font-size: 16px;
  color: #f1f1f1;
}
input{
  width: 100%;
  height: 250px;
  font-size: 100px;
  text-align: center;
  font-family: "Chalkduster";
  margin-top: 150px;
  margin-bottom: auto;
  padding-bottom: 0%;
  margin-left: auto;
  margin-right: auto;
}
.create-join-btn button{
  position: relative;
  margin-top: 20px;
  width: 25px%;
  bottom: 0;
  height: 100px;
  background-color: #3367d6; /* Green background */
  border: 10px solid #f1f1f1; /* Green border */
  color: #f1f1f1; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: right; /* Float the buttons side by side */
  font-size: 25px;
  font-family: "Chalkduster"
}
.create-join-btn button:hover {
  transform: scale(1.1);
}
.image-container{
  height: 100%;
  width: auto;
  margin-left:auto;
  margin-right:auto;
  padding-left:32%;
}
img{
  height: 500px;
  width: 300px;
  max-width: 50%;
  max-height:25%;
  
}
.pokeImageContain{
  padding-bottom: 2000px;
}